{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Portfolio</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="portfolio-categ">
					<li class="all active"><a href="/articles/topics">All</a></li>
					<li class="web"><a href="/articles/topics?type=1">Science</a></li>
					<li class="icon"><a href="/articles/topics?type=4">Useful knowing</a></li>
					<li class="graphic"><a href="/articles/topics?type=5">Tutorial</a></li>
				</ul>
				<div class="clearfix">
				</div>
				<div>
					<section id="projects">
                        {% for topic in object_list %}
                            <h3><a href="{{ topic.id }}">{{ topic.title }}</a></h3>
                            <p>{{ topic.text }}</p>
                            <hr>
                        {% endfor %}
                    </section>
				</div>
			</div>
		</div>
	</div>
	</section>
{% endblock %}