{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.css' %}">
{% endblock %}

{% block content %}
    <div class="list-group">
        {% for topic in object_list %}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ topic.title|title }}</h5>
              <small>{{ topic.creation_date|date:'d.m.Y' }}</small>
            </div>
            <p class="mb-1">{{ topic.text }}</p>
          </a>
        {% endfor %}
    </div>
{% endblock %}